<div class="about__swiper-slide swiper-slide">
  <picture class="about__swiper-slide-picture">
    <source type="image/avif" srcset="
        images/slider/@image.avif 1x,
        images/slider/@image.avif 2x
      " />
    <source type="image/webp" srcset="
        images/slider/@image.webp 1x,
        images/slider/@image.webp 2x
      " />
    <img width="600" height="450" src="images/slider/@image.jpg"
      srcset="images/slider/@image@2x.jpg 2x" alt="@alt" />
  </picture>
  <table class="about__swiper-slide-table">
    <tr>
      <td>@table.price грн/мин</td>
      <td>@table.roominess мест</td>
      <td>@table.mileage тыс. км пробег</td>
    </tr>
  </table>
</div>
