<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#111111" />
  <meta name="description" content="Каршеринг в Киеве LUX автомобили. Закажи эксклюзивный автомобиль через мобильное приложение в любой точке города" />
  <meta
    name="keywords"
    content="Каршеринг, Каршеринг Киев, Аренда авто, Каршеринг в Киеве, Авто, Аренда автомобиля, Машины, Автомобили, Каршеринг цена, Машины каршеринга, Каршеринг цены, Прокат авто"
  />
  <title>@title</title>
  <link rel="stylesheet" href="css/global.css" />
  <link rel="stylesheet" href="css/vendor.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link
    rel="preload"
    href="fonts/RobotoCondensed-Regular.woff2"
    as="font"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    href="fonts/RobotoCondensed-Bold.woff2"
    as="font"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    href="fonts/FiraSans-Medium.woff2"
    as="font"
    crossorigin="anonymous"
  />
</head>
