<ul class="page-footer__social social">
  <li class="social__item">
    <a class="social__link" href="https://www.facebook.com/" aria-label="Перейти на сайт: Facebook">
      @include('blocks/icon.html', {
        className: 'social__icon',
        width: 26,
        height: 26,
        href: 'icon-fb'
      })
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="https://www.instagram.com/" aria-label="Перейти на сайт: Instagram">
      @include('blocks/icon.html', {
        className: 'social__icon',
        width: 26,
        height: 26,
        href: 'icon-insta'
      })
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="https://www.youtube.com/" aria-label="Перейти на сайт: Youtube">
      @include('blocks/icon.html', {
        className: 'social__icon',
        width: 26,
        height: 26,
        href: 'icon-youtube'
      })
    </a>
  </li>
</ul>
