.social {
  @extend %list;
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    box-sizing: border-box;
    transition: all 0.3s;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.5;
    }
  }
  &__link {
    @extend %link;
    display: inline-block;
  }
  &__icon {
    fill: $branded;
  }
}
